.image-button {
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  transition: 0.2s;
  margin: 20px auto;
}

.image-button:hover {
  cursor: pointer;
  background-color: #ed3636;
  width: 250px;
  border-radius: 15px;
  transition: 0.2s;
}

.image-button .arrow{
  height: 30px;
  width: 30px;
}