#cart {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color:#ffffff80;
  display: none;
  transition: all ease 0.5s;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

#prods-cart {
  width: clamp(62vw, 62vw, 900px);
  background-color:#fff;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #333;
  display: flex;
  margin: 20px 0px;
  justify-content: center;
  flex-flow: wrap column;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header img:hover {
  background-color: #ddd;
}

#header h1, .prodsInfo {
  margin: 8px;
}

#prods-cart-area {
  margin: 8px;
}

.prodsChosen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333;
}

.prodsInfo {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 100%;
}

.prodsInfo--desc, .prodsInfo--qt, .prodsInfo--price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(12px, 1vw, 20px);
  font-weight: 700;
}

.prodsInfo--img img {
  width: clamp(32px, 4.69vw, 70px);
  height: clamp(32px, 4.69vw, 70px);
  border-radius: 150px;
}

.removeItem {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.removeItem img:hover {
 background-color: #ed3636;
 border-radius: 150px;
 transition: all 0.2s;
}

#total {
  margin: 10px;
  font-size: clamp(12px, 1vw, 20px);
  font-weight: 700;
}

#buy {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: clamp(20px, 1.46vw, 1.46vw);
  background-color: #cd0a0a;
  border-radius: 0 0 10px 10px;
  padding: 20px;
}

#buy:hover {
  font-size: clamp(25px, 1.83vw, 1.83vw);
  padding: 17.5px;
  box-shadow: 0 0 10px #cd0a0a;
  background-color: #ed3636;
  cursor: pointer;
  transition: all 0.2s;
}

#cart button {
  background-color: #fff;
}

@media (max-width: 768px) {
  #prods-cart {
    width: 100%;
  }
}