header {
  background: url(../images/bg-image-foods-2.png);
  object-fit: cover;
}

main .infos {
  margin: 50px 25px;
  border: 2px solid #333;
  border-radius: 15px;
}

main .infos {
  font: normal 400 20px/1.5 'Tajawal', sans-serif;
  text-align: center;
}

main .infos p span {
  font-weight: 700;
}

main .infos hr {
  border: 1px solid #333;
  margin: 25px 0;
}

main .infos #avl input {
  border: 2px solid #bc0000;
  border-radius: 15px;
  padding: 3px;
}

main .infos #avl textarea {
  border: 2px solid #bc0000;
  border-radius: 10px;
  width: 240px;
  height: 140px;
  margin: 15px;
  resize: none;
}

main .infos #avl button {
  font-weight: bold;
  border-color: #bc0000;
}

.hide {
  display: none;
}