#menu-nav {
  margin: 20px 0 20px 0;
  width: 100%;
}

#menu-nav #nav {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.9vw;
}

#menu-nav #nav li {
  padding: 10px;
}

#menu-nav #nav li:hover {
  background-color: #333;
  border-radius: 10px;
  color: #fff;
}

#menu-nav #nav a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.active {
  background-color: #333;
  border-radius: 10px;
  color: #fff;
}

@media (max-width: 768px) {
  #menu-nav #nav {
    justify-content: center;
    flex-flow: wrap column;
    font-size: 4vw;
  }

  #menu-nav #nav a {
    width: 100%;
    text-align: center;
  }
}